body {
  background-image: url("design/teglafal.jpg");
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "h  h"
    "a   n"
    "f   f";

  margin: auto;
  width: 80%;
  max-width: 1000px;
  background-color: gray;
}
header {
  grid-area: h;
  text-align: center;
  height: 300px;
  background-image: url("design/beer-new_401732638.jpg");
  background-size: cover;
}
.image {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: white;
  text-align: left;
}

header p {
  text-transform: uppercases;
  font-family: Garamond;
  color: white;
}

nav {
  grid-area: n;
  
}

nav a {
  padding: 10px;
  border: #c4bea5 solid 1px;
  margin: 10px;
  border-radius: 8px;
}

a:link {
  color: white;
  display: grid;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: red;

}
a:hover {
  color: white;
}
a:active {
  color: blue;
}
article {
  grid-area: a;
  border: 1px solid rgba(99, 96, 96, 0.904);
  background-color: black;
}
ul {
  color: white;
  text-align:end;
  text-decoration: none;
  font-size:medium;
}
li {
  list-style-type: none;
}
.kiskep {
  width: 40%;
  border-style: double gray;
  float: left;
}

article h3 {
  color: white;
  font-family: serif;
}

footer {
  grid-area: f;
  font-family: Garamond;
  background-color: rgb(100, 100, 100);
  color: white;
  text-align: center;
}
@media screen and (max-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "h"
      "n"
      "a"
      "f";
  }
  header {
    max-width: 700px;
  }
}
@media screen and (max-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "h  h"
      "a   n"
      "f   f";
  }
  header {
    max-width: 700px;
  }
}
@media screen and (max-width: 400px) {
  /*menu keruljon a fejlec ala*/
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas:
      "h"
      "n"
      "a"
      "f";
  }
}
